<!-- This view will list all of the patients that are assigned to the doctor. Each object in the patient collection will have the following properties.

Patient first name
Patient last name
Patient ailment
Provide an affordance to show the list of doctors. -->

<div ng-repeat="patient in drsPatients" class="patientCard">
  <p>First Name: {{patient.first_name}}</p>
  <p>Last Name: {{patient.last_name}}</p>
  <p>Ailment: {{patient.ailment}}</p>
  <p><a ng-href="#!/doctors">Back To Doctors</a></p>
</div>